.categoriescontainer{
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 1fr));
    gap: 10px;
}
@media screen and (max-width: 1000px) {
    .categoriescontainer{
        display: flex;
        flex-direction: column;
    }
    .categories{
        margin: 50px;
    }
}

.categories{
    display: block;
    justify-content: center;
    margin-bottom: 20px;
    
}

.categorie{
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 150px;
}

.categorie div{
    display: flex;
    flex-direction: column;
}

.categorie p :hover{
    transform: scale(1.1);
    cursor: pointer;
}

.categorie h6{
    font-size: large;
    margin-left: 10px;
}

.categorie p{
    font-size: large;
    margin-left: 10px;
}
