@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background: var(--background-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}


:root{
  --primary-color: #7e34ee;
  --secondary-color:#f3f5f7 ;
  --background-color: #f0f2f4;
  --anuncio: rgb(220, 143, 9);
  --message:#414040;
  --button:rgb(0, 0, 0);
  --button-focus:rgba(240, 242, 244, 0);
  --bg_btn:rgb(255, 255, 255);
  --text_btn2:white;
  --text_btn:white;
  --text:black;
  --image:url('/AB.jpeg');
  --avatar:url('/OIP-removebg-preview.png');
}

[data-theme='dark']{
  --text:white;
  --button-focus:#f0f2f400;
  --primary-color: #fe8944;
  --message:#747474;
  --secondary-color: #21272f;
  --background-color: #1a2028;
  --button:#13171c;
  --text_btn:black;
  --text_btn2:rgb(255, 255, 255);
  --bg_btn:#343a3f;
  --anuncio: #7a34e4;
  --image:url('/R.jpg');
  --avatar:url('/starlord-removebg-preview.png');
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}