.title{
  text-align: center;
  padding: 50px 0 20px;
}
.title h1{
  margin:0;
  padding: 0;
  color: var(--text);
  text-transform: uppercase;
  font-size: 36px;
}
.containerform{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 50%;
  height: 400px;
  background-color: #fff;
  margin:0 auto ;
  border:2px solid #fff;
  box-shadow: 0 15px 40px rgba(0,0,0,5);
}
.containerform .left{
  grid-column: span 6/ span 6;
  float: left;
  height: 400px;
  background: var(--image);
  background-size: cover;
  object-fit: contain;

  box-sizing: border-box;
}
.containerform .right{
  float: right;
  grid-column: span 6/ span 6;
  height: 400px;
  box-sizing: border-box;
}
  .form {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
  }
  .form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
  }
  .form input{
    width: 100%;
    margin-bottom: 20px;
  }
  .form input[type="text"],.form input[type="Password"]{
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
    height: 40px;  
  }
  .form input[type="text"]:focus,.form input[type="Password"]:focus{
    border-bottom: var(--primary-color);
  }
  .form button{
    border: none;
    width: 100%;
    outline: none;
    height: 40px;
    color: var(--text);
    background: var(--anuncio);
    cursor: pointer;
    margin-bottom: 20px;
  }
  .form button:hover{
    transform: scale(1.1);
  }
  .form a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }

  @media screen and (max-width:800px) {
    .containerform{
      width: 90%;
    }
    .containerform .right{
      margin: 0 auto;
    }
  }