
.title{
  font-size: x-large;
  text-align: center;
  color: var(--text);
  padding: 0 8rem;
}
.headercontainer{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.header{
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 85px;
}

.header .links{
  list-style: none;
}

.header .links li:hover{
  transform: scale(1.1);
}

.header .links li{
  display: inline-block;
  padding: 0 15px;
}

.header .links a{
  font-size: large;
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
}
.header .links .current{
  color: var(--primary-color);
} 

.header .links a:hover{
  color: var(--primary-color);
}

.btn button{
  background-color: var(--button);
  border: 1px solid var(--button);
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
  margin: 5px;
  color: var(--text);
}

.btn button:hover{
  transform: scale(1.1);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.btncontainer{
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.circulo{
  position: absolute;
  right:1%;
  z-index: 1;
  height: 30px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  clip-path: ellipse(60px 15px at 60% 60%);
  transform: rotate(-15deg);
}

@media screen and (max-width:1000px) {
  .headercontainer{
    flex-direction: column;
  }
}

